.alert-top-center {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: auto;
    max-width: 90%;
}

.alert-box {
    animation: fadeInSlide 0.4s ease-out;
    transition: all 0.5s ease-in-out;
}

@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.alert-box:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.file-check-icon {
    animation: fadeIn 0.4s ease-in-out;
    font-size: 1.2rem;
}

.transition-btn {
    transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}