@using Microsoft.AspNetCore.Http;

@model IEnumerable<CHO_Saathi.Models.ViewUserList>

@{
    ViewData["Title"] = "Manage User";
    if (@Context.Session.GetString("SirjanID") == "1")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<style>
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px solid #72def6;
        border-radius: .25rem;
    }

    .bgButton {
        background: #bfd600 !important;
        border-color: #bfd600 !important;
    }

        .bgButton:hover {
            background: #b2c607 !important;
            border-color: #b2c607 !important;
        }


    .bgbagheader {
        background: #b9f2ff; /* Old browsers */
    }

    .dataTables_length {
        margin-left: 10px;
    }

    .btn-orang {
        color: #fff;
        background-color: #f39c12;
        border-color: #f39c12;
    }

        .btn-orang:hover {
            color: #fff;
            background-color: #fe8936;
            border-color: #fe8936;
        }

    button.dt-button, div.dt-button, a.dt-button {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        margin-right: 0.333em;
        padding: 0.5em 1em;
        border: 1px solid #999;
        border-radius: 2px;
        cursor: pointer;
        font-size: 0.88em;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        background-color: #e9e9e9;
        background-image: -webkit-linear-gradient(top, #fff 0%, #e9e9e9 100%);
        background-image: -moz-linear-gradient(top, #fff 0%, #e9e9e9 100%);
        background-image: -ms-linear-gradient(top, #fff 0%, #e9e9e9 100%);
        background-image: -o-linear-gradient(top, #fff 0%, #e9e9e9 100%);
        background-image: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#e9e9e9');
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-decoration: none;
        outline: none;
    }

    div.dt-buttons {
        position: relative;
        float: left;
        /*padding: 0px;
        margin: 13px 12px 0px 12px;*/
    }

    /*.buttons-html5 {
        background-color: #4CAF50 !important;*/ /* Green */
    /*border: none !important;
        color: white !important;
        text-align: center !important;
        text-decoration: none !important;
        display: inline-block !important;
        padding: 5px;
        margin: 2px;
    }*/

    #SearchInput {
        background-image: url('../images/icons8-search-48.png');
        background-size: 26px 26px;
        background-repeat: no-repeat;
        background-position: 10px center;
        padding-left: 36px;
        /* background-position: 10px 12px;
                    background-repeat: no-repeat;*/
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 0px;
    }

    input[type="radio"] {
        display: none;
    }

        input[type="radio"] + label {
            font-weight: bold;
            cursor: pointer;
            margin-right: 20px;
            padding-left: 25px;
            position: relative;
        }

            input[type="radio"] + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 1px;
                width: 18px;
                height: 18px;
                border: 2px solid #007bff;
                border-radius: 50%;
                background-color: white;
                transition: all 0.3s ease;
            }

        input[type="radio"]:checked + label:before {
            background-color: #007bff;
            border-color: #007bff;
        }

    .rowSearch {
        margin-bottom: 20px;
    }

        .rowSearch b {
            margin-right: 10px;
        }
</style>

<form asp-action="Registration">
    <section id="AboutSection">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-2 col-lg-2">
                    <h4 class="Headingcolorbg">Select Hierarchy</h4>
                    <hr style="color:#fff;" />
                    @if (ViewBag.ANMUSERID == null)
                    {
                        @if (ViewBag.Roles != null)
                        {
                            <div class="form-group mt-2 mb-2">
                                <label class="control-label">Roles</label>
                                <select id="RolesId" name="roles" class="form-control" asp-items="ViewBag.roles">
                                    <option value="0">All</option>
                                </select>
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label class="control-label">State</label>
                                <select id="StateId" class="form-control" asp-items="ViewBag.StateID">
                                    <option value="0">All</option>
                                </select>
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label class="control-label">District</label>
                                <select id="DistrictId" name="roles" class="form-control">
                                    <option value="0">All</option>
                                </select>
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <label class="control-label">Block</label>
                                <select id="BlockId" name="roles" class="form-control">
                                    <option value="0">All</option>
                                </select>
                            </div>
                        }

                        <div class="form-group text-right">
                            <button type="button" class="btn btn-primary savebutton" onclick="FillVillageList()"><i class="fa fa-search"></i>&nbsp;Search</button>
                        </div>
                    }
                    else
                    {

                    }
                </div>
                <div class="col-xl-10 col-lg-10">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2">
                            <h4 class="Headingcolorbg">Manage User</h4>
                        </div>

                        <div class="col-xl-6 col-lg-6">
                            <div class="rowSearch">
                                <b>Search By</b>
                                <input type="radio" value="UserName" name="searchBy" id="rchidRadio" checked onchange="applyFilter()" /><label for="rchidRadio">UserName</label>&nbsp;
                                <input type="radio" value="name" name="searchBy" id="nameRadio" onchange="applyFilter()" /><label for="nameRadio">NAME</label>
                                <input type="text" id="SearchInput" placeholder="Search" title="Type in a name">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">

                            <div class="pull-right" style="margin-top:28px;">
                                @if (ViewBag.ANMUSERID != null)
                                {
                                    <a asp-controller="ANM" asp-action="Index" class="btn btn-primary backtodetailbutton">&nbsp;Back to ANM List</a>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-success" onclick="ExportExcelZIP()"><i class="fa fa-file-archive-o" aria-hidden="true"></i>&nbsp;Export</button>
                                    <a asp-action="UserRegistration" class="btn btn-primary backtodetailbutton">&nbsp;Add New User</a>
                                }

                            </div>
                        </div>
                    </div>

                    <div id="divEvidencelist">
                        @{
                            Html.RenderPartial("_UserPartial.cshtml");
                        }
                    </div>
                </div>
            </div>


        </div>
        <input type="hidden" id="saveSizePage" />

    </section>
</form>






<script type="text/javascript">


    $(document).ready(function ()
    {
        var delayTimer;
        $("#SearchInput").keyup(function ()
        {
            clearTimeout(delayTimer);
            delayTimer = setTimeout(function ()
            {
                getServerdt(1);
            }, 500);
        });
    });

    function getServerdt(pageNumber) {
        var selectedValue = document.querySelector('input[name="searchBy"]:checked').value;
        var txtSearch = $("#SearchInput").val();
        $('#saveSizePage').val($('#pageSize').val());
        var p = { "pageIndex": pageNumber, "pageSize": $('#pageSize').val(), "filterByRoleId": $('#RolesId').val(), "selectedValue": selectedValue, "txtSearch": txtSearch, "StateId": $('#StateId').val(), "DistrictId": $('#DistrictId').val(), "BlockId": $('#BlockId').val() };
        $.ajax({
            url: '@Url.Content("~/")' + "User/getServerdt", //Your path should be here
            type: "POST",
            data: p, success: function (result) {
                if (result == "0") {
                    $('#divEvidencelist').html('');
                } else {
                    $('#divEvidencelist').html(result);
                    $('#pageSize').val($('#saveSizePage').val());
                }
            }
        });
    }
    $('#StateId').change(function ()
    {
        var url = '@Url.Content("~/")' + "User/GetDistrict";
        var ddlsource = "#StateId";
        $.getJSON(url, { stateid: $(ddlsource).val() }, function (data)
        {
            var districtitems = "<option value='0'>Select</option>";
            $("#DistrictId").empty();
            $("#BlockId").empty();
            $.each(data, function (i, district)
            {
                districtitems += "<option value='" + district.districtID + "'>" + district.district + "</option>";
            });
            $('#DistrictId').html(districtitems);
        });
    });


    $('#DistrictId').change(function ()
    {
        var url = '@Url.Content("~/")' + "User/GetBlock";
        var ddlsource = "#DistrictId";
        $.getJSON(url, { districtId: $(ddlsource).val() }, function (data)
        {
            var blockitems = "<option value='0'>Select</option>";
            $("#BlockId").empty();
            $.each(data, function (i, block)
            {
                blockitems += "<option value='" + block.blockID + "'>" + block.blockName + "</option>";
            });
            $('#BlockId').html(blockitems);
        });
    });



    function ExportExcelZIP()
    {
        var rolesId = $('#RolesId').val();
        var stateId = $('#StateId').val();
        var districtId = $('#DistrictId').val();
        var blockId = $('#BlockId').val();

        // Validate that required values are not empty before constructing the URL
        if (!rolesId)
        {
            alert("RolesId is required.");
            return;
        }

        // You may add additional validation for other parameters if needed

        // Construct the URL
        var url = "/User/ExportToExcel_CSV?FilteByRoleId=" + rolesId + "&StateId=" + stateId + "&DistrictId=" + districtId + "&BlockId=" + blockId;

        // Redirect the user to the specified URL
        window.location = url;
    }


    function FillVillageList(flag) {
        getServerdt(1);
    }

    function applyFilter()
    {

        getServerdt(1);
    }

</script>