body {
}

.Headingcolorbg {
    color: #441E95 !important;
    /* letter-spacing: 0.04em;*/
}

div.dt-container .dt-search input {
    margin-bottom: 5px;
}

.badge-success-alt {
    background-color: #d7f2c2;
    color: #7bd235;
}

.dt-search {
    float: right;
}

.dt-paging {
    float: right;
    margin-top: 10px;
}


button.dt-button, div.dt-button, a.dt-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0.333em;
    padding: 0.5em 1em;
    border: 1px solid #999;
    border-radius: 2px;
    cursor: pointer;
    font-size: 0.88em;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    background-color: #e9e9e9;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: -moz-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: -ms-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#e9e9e9');
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    outline: none;
}

div.dt-buttons {
    position: relative;
    float: left;
    margin-bottom:5px;
}

.hidden {
    display: none;
}


.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

    .checkbox label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 3px;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }

    .checkbox label::after {
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: 0;
        margin-left: -20px;
        padding-left: 3px;
        padding-top: 1px;
        font-size: 11px;
        /* color: #555555; */
    }

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

    .checkbox input[type="checkbox"]:focus + label::before,
    .checkbox input[type="radio"]:focus + label::before {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .checkbox input[type="checkbox"]:checked + label::after,
    .checkbox input[type="radio"]:checked + label::after {
        font-family: "FontAwesome";
        content: "\f00c";
    }

    .checkbox input[type="checkbox"]:disabled + label,
    .checkbox input[type="radio"]:disabled + label {
        opacity: 0.65;
    }

        .checkbox input[type="checkbox"]:disabled + label::before,
        .checkbox input[type="radio"]:disabled + label::before {
            background-color: #eeeeee;
            cursor: not-allowed;
        }

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox.checkbox-sm label::before {
    width: 30px;
    height: 30px;
    top: -13px;
}

.checkbox.checkbox-sm label::after {
    width: 30px;
    height: 30px;
    padding-left: 4px;
    font-size: 20px;
    left: 1px;
    top: -13px;
}

.checkbox.checkbox-sm label {
    padding-left: 18px;
    top: 13px;
}

.checkbox.checkbox-md label::before {
    width: 34px;
    height: 34px;
    top: -17px;
}

.checkbox.checkbox-md label::after {
    width: 34px;
    height: 34px;
    padding-left: 4px;
    font-size: 24px;
    left: 1px;
    top: -18px;
}

.checkbox.checkbox-md label {
    padding-left: 22px;
    top: 17px;
}

.checkbox.checkbox-lg label::before {
    width: 46px;
    height: 46px;
    top: -28px;
}

.checkbox.checkbox-lg label::after {
    width: 46px;
    height: 46px;
    padding-left: 4px;
    font-size: 36px;
    left: 1px;
    top: -31px;
}

.checkbox.checkbox-lg label {
    padding-left: 34px;
    top: 32px;
}


input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
    font-family: "FontAwesome";
    content: "\f00c";
}

input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
    color: #fff;
}

input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
    color: #fff;
}

/*-------------------Sweet alert-------------------------------------------*/

.pagetitle h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.alert {
    margin-bottom: 2px;
}

.form-label {
    font-weight: bold;
}

.form-select,
.form-control {
    border-radius: 4px;
    border: 1px solid #ccc;
    /*  padding: 10px; */
    width: 100%;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
}

.btn-success {
    background-color: #28a745;
    color: white;
    border: none;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

    .table th,
    .table td {
        padding: 10px;
        /* text-align: center; */
        border: 1px solid #ddd;
    }

.table-primary {
    background-color: #007bff;
    color: white;
}

.text-danger {
    color: #dc3545;
}

.text-center {
    text-align: center;
}

.gap-2 {
    gap: 10px;
}

.d-flex {
    display: flex;
}

.align-items-end {
    align-items: flex-end;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.small {
    font-size: 0.875em;
}

.file-check-icon {
    font-size: 1.5rem;
}

.alert-box {
    padding: 14px 16px;
    margin-bottom: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    min-width: 320px;
    max-width: 460px;
    transition: all 0.4s ease;
    opacity: 1;
    position: relative;
    font-family: 'Open Sans', Arial, sans-serif;
    z-index: 10000;
    display: flex;
    align-items: flex-start;
}

.alert-success {
    background-color: #d1f5d3;
    border-left: 6px solid #28a745;
}

.alert-danger {
    background-color: #f8d7da;
    border-left: 6px solid #dc3545;
}

.alert-warning {
    background-color: #fff3cd;
    border-left: 6px solid #ffc107;
}

.alert-info {
    background-color: #d1ecf1;
    border-left: 6px solid #17a2b8;
}

.alert-box button {
    border: none;
    background: transparent;
    font-size: 18px;
    color: #444;
    margin-left: 10px;
    cursor: pointer;
}

/*****************navbarMenu*****************************/

/* Navbar Styling */
.iwin-navbar {
    background: #ff6a00 !important;
    padding: 0.6rem 1rem;
}

    .iwin-navbar .navbar-brand {
        color: #fff;
        font-weight: 700;
    }

    .iwin-navbar .nav-link {
        color: #fff !important;
        font-weight: 500;
        padding: 0.6rem 1rem;
        transition: all 0.3s ease;
        cursor: pointer;
    }

        .iwin-navbar .nav-link:hover {
            background-color: rgba(255, 255, 255, 0.15);
            border-radius: 6px;
        }

    /* Dropdown Menu */
    .iwin-navbar .dropdown-menu {
        border-radius: 0px;
        border: none;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
        animation: fadeDown 0.35s ease-in-out;
        background-color: #ff6a00 !important;
        color:#fff !important;
    }
    .dropdown-menu[data-bs-popper] {
        top: 100%;
        left: 0;
        margin-top:8px !important;
    }

.dropdown-item {
    transition: all 0.3s ease;
    color:#fff !important;
}

    .dropdown-item:hover {
        background-color: #ff9449 !important;
        color: #fff;
        /*padding-left: 1.8rem;*/
    }

    .dropdown-item.active, .dropdown-item:active 
    {
        color: var(--bs-dropdown-link-active-color);
        text-decoration: none;
        background-color: #ff6a00 !important;
    }

/* Smooth animation */
@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Admin Button */
.admin-btn {
    background: #005f73;
    border-radius: 20px;
    padding: 0.5rem 1.2rem !important;
}

/* Dashboard title */
.page-title {
    border-bottom: 2px solid #dc3545;
    padding-bottom: 5px;
    margin-bottom: 20px;
}




/**********************************************/

/**********************************************/
/*.navbar-nav > .user-menu .user-image {
    float: left;
    width: 2rem;
    height: 2rem;
    margin-top: -2px;
    border-radius: 50px !important;
    background: #fff !important;
}

.navbar-nav > .user-menu .user-image {
    float: none;
    margin-top: -5px !important;
    margin-right: 0.4rem;
    line-height: 10px;
}


.sidebar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    padding: 0.8125rem 0.5rem;
    overflow: hidden;
    font-size: 1.25rem;
    white-space: nowrap;
    border-bottom: 1px solid #fff !important;
    background: #fbfbfb;
}

[data-bs-theme=dark].app-sidebar, [data-bs-theme=dark] .app-sidebar {
    --lte-sidebar-hover-bg: rgba(255, 255, 255, 0.1);
    --lte-sidebar-color: #fff !important;
    --lte-sidebar-hover-color: #fff;
    --lte-sidebar-active-color: #fff;
    --lte-sidebar-menu-active-bg: rgba(255, 255, 255, 0.1);
    --lte-sidebar-menu-active-color: #fff : #fff;
    --lte-sidebar-submenu-bg: transparent;
    --lte-sidebar-submenu-color: #c2c7d0;
    --lte-sidebar-submenu-hover-color: #fff;
    --lte-sidebar-submenu-hover-bg: rgba(255, 255, 255, 0.1);
    --lte-sidebar-submenu-active-color: #fff;
    --lte-sidebar-submenu-active-bg: rgba(255, 255, 255, 0.1);
    --lte-sidebar-header-color: rgb(197.05, 201.8, 210.35);
}
.nav-link {
    color: #fff !important;
}*/

/**********************************************/